
@{
    ViewData["Title"] = "Accountant";
    Layout = "~/Views/Shared/_LayoutAccountant.cshtml";
  var id = ViewBag.session;
    var email = ViewBag.email;
}

<h1>Accountant</h1>
<h2>id: @id</h2>

<h2>email:@email</h2>