
@{
    ViewData["Title"] = "Admin";
     Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
   var id = ViewBag.session;
    var email = ViewBag.email;
}

<h1>Admin</h1>
<h2>id: @id</h2>

<h2>email:@email</h2>